Options +FollowSymLinks
RewriteEngine On

RewriteRule ^registracija/(.*)/$ rest.php?metoda=registracija&uloga=$1
RewriteRule ^prijava/(.*)/(.*)/(.*)/$ rest.php?metoda=prijava&uloga=$1&email=$2&lozinka=$3
RewriteRule ^kolegij/(.*)/(.*)/(.*)/$ rest.php?metoda=kolegij&akcija=$1&uloga=$2&idUloge=$3
RewriteRule ^aktivnost/dohvati/(.*)/(.*)/(.*)/$ rest.php?metoda=aktivnost&akcija=dohvati&uloga=$1&idUloge=$2&tipAktivnosti=$3
RewriteRule ^aktivnost/dohvatiPoDanu/(.*)/(.*)/(.*)/$ rest.php?metoda=aktivnost&akcija=dohvatiPoDanu&uloga=$1&idUloge=$2&danIzvodenja=$3
#RewriteRule ^aktivnost/nova/(.*)/(.*)/(.*)/(.*)/(.*)/(.*)/(.*)/(.*)/$ rest.php?metoda=aktivnost&akcija=nova&profesor=$1&dozvoljenoIzostanaka=$2&pocetak=$3&kraj=$4&danIzvodenja=$5&dvorana=$6&kolegij=$7&tipAktivnosti=$8
RewriteRule ^aktivnost/nova/(.*)/$ rest.php?metoda=aktivnost&akcija=nova&uloga=$1
RewriteRule ^dvorane/dohvati/(.*)/$ rest.php?metoda=dvorana&akcija=dohvati&tipDvorane=$1
RewriteRule ^labosi/dohvati/(.*)/(.*)/$ rest.php?metoda=labosi&akcija=dohvati&kolegij=$1&student=$2
RewriteRule ^labosi/(.*)/(.*)/(.*)/$ rest.php?metoda=labosi&akcija=$1&student=$2&aktivnost=$3
RewriteRule ^evidentiraj/(.*)/$ rest.php?metoda=evidentiraj&akcija=$1




#RewriteRule ^student/(.*)(.*)/(.*)/$ rest.php?metoda=kolegij&akcija=dolasci&idKolegija=$1&idStudenta=$2&idTipaAktivnosti=$3
RewriteRule ^evidencija/(.*)/(.*)/(.*)/(.*)/(.*)/$ rest.php?metoda=evidencija&akcija=$1&uloga=$2&idUloge=$3&kolegij=$4&tipAktivnosti=$5

